.common-btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: inherit;
}
.common-btn:hover:not(:disabled) {
  border-color: #646cff;
}
.common-btn:focus,
.common-btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.common-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
@media (prefers-color-scheme: light) {
  .common-btn {
    background-color: #f9f9f9;
  }
}
